.thumbnail-image{
   max-width: 70px;
    border-radius: 50%;
}

.icon-testi {
    font-size: 50px;
    color: #FF1053;
}


.font-bolder{
    font-weight: 900;
}

.accordion-item{
    color: #FF1053;
}

.space{
margin-bottom: 150px;
}

.spacing{
    padding: 100px 0;
}