.learn-more{
        background-color: #000;
        color: #fff;
        padding: 18px 23px;
        border-radius: 5px;
        font-weight: 800;
        border: none;
        transition: 0.3s;
        border: #000 3px solid;
        &:hover{
            background-color: #fff;
            color: #000;

        }
}

.book-ride {
    background-color: #FF1053;
    color: #fff;
    padding: 18px 23px;
    border-radius: 5px;
    font-weight: 800;
    border: none;
    box-shadow: #FF1053 0px 1px 7px;
    transition: 0.3s;
    &:hover{
    box-shadow: #FF1053 0px 1px 15px;
    }
}

.arrow{
    font-size: 25px;
}

.para{
    font-size: 18px;
}

.title{
font-size: 55px;
font-weight: 900;
}

.red{
    color: #FF1053;
}

.subtitle{
    font-size: 30px;
    font-weight: 900;
}

.margin-header{
    margin: 120px 0 320px 0;
}


.slide-left {
    animation: slide-left 1s ease-out;
}


@keyframes slide-left {
    0% {
        transform: translateX(350px);
    }

    100% {
        transform: translateX(0px);
    }
}


.fade-in-top {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width:1000px) {
    .img-header{
        display: none;
    }

    .title{
        font-size: 40px;
    }

    .subtitle{
        font-size: 25px;
    }

    .para {
        font-size: 16px;
    }
}

.slide-fwd-bl{
animation: slide-fwd-bl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes slide-fwd-bl {
    0% {
        transform: translateZ(30px) translateY(-200px) translateX(400px) scale(0.2)
    }

    100% {
        transform: translateZ(160px) translateY(0px) translateX(0px) scale(1);
    }
}